/* common shared styles */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Zilla Slab', serif;
}

.btn-primary{
    border-radius: 5px;
    color: white;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left:25px;

}

/* Nav bar style */
nav{  
    display: flex;
    justify-content: space-between;
    margin:0 200px;
    
}

.nav-title{
color: var(--dark-01, #181818);
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.r{
color: #FD6E0A;
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right:50px;
   
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* header related style */
.header{
    background-image: url(/images/header_bg.png);
    background-color: #FFF8F3;
    background-repeat: no-repeat;
    background-position:bottom right;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
}
.banner-greeting{
    color: #474747;
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 0;
}
.banner-title{
    color: #181818;
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    font-weight: 400px;
    margin-top: 0px;
    
}
.profile-pic{
    width: 584px;
    height: 676px;
    margin-top: 20px;
}

/* main section style */

/* about section  */

.about{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px;
    margin-top: 130px;
    margin-bottom: 130px;
}
.section-title{
color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-description{
color: var(--dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;

}

main{
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    
}
.about-info{
    text-align: center;
}
.info-title{
    color:  #757575;
    font-size: 16px;
   
}
.info-description{
    color: #474747;
    font-size: 20px;
    font-weight: 400px;
}
/* what i do style */
.what-i-do{
    
}
.what-section-title{
    color: var(--dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.what-i-do-section-description{
    color: var(--dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding: 30px 150px;
}
.skill-container{
   display: flex;
   justify-content: space-between;
  align-items: center;
}
.skill{
   margin-left: 24px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title{
    text-align: left;
color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.skill-description{
color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}

/* resume style */
.resume{
   
}
.my-title{
 margin-top: 130px;
color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.resume-container{
    display: flex;
    justify-content: center;
    margin: 100px;
    padding: auto;
}
.resume-title{
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.resume-coulm-two{
    margin-left: 70px;
}
.education{
    background: #FFF;
    
}
.education-title{
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.education-name{
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.education-info{
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.down-btn{
    display: flex;
    justify-content: center;
}


/* footer style */
footer{
    
    background: #FFF8F3;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    padding: 130px 230px;
}
.footer-col-two{
  margin-left: 100px;
   

}
.footer-col{
    align-items: center;
}
.footer-title{
    color: var(--dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer-info{
    color: var(--dark-02, #474747);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.footer-img{
 display: flex;
 
 padding-left: 24px;
}
.name{
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    border: 0px;
}
.email{
    color: var(--dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0px;
}
.tet{
color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
border: 0px;
margin-bottom: 30px;

}